i {
    color: green;
}

div i:hover {
    color: gray;
}

.d-sm-none {
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.display-4{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    opacity: 0.5;
}