.container {
    display: flex;
    flex-direction: column;
}

.d-sm-none {
    position: relative;
    text-align: center;
    margin: 1em;
}

.display-4{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

i {
    color: green;
}

div i:hover {
    color: gray;
}

.fa-shopping-cart {
    color: white;
}

.fa-chevron-right {
    color: white;
}

.fa-chevron-left {
    color: white;
}