/* Headers */
h1 {
    color: darkgoldenrod; /* single line comment */
    text-decoration: underline;
}

h2  {
    color: darkgoldenrod;
    text-decoration: underline;
    background-color: purple;
}

header {
    text-align: center;
}

body {
    background: darkgray;
}

ul {
    list-style: square;
}

* {
    font-family: Rubik;
}

/* Picture layout */
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 45%;
    padding: 2px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}